* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* <!-- header section antonio --> start */

header {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: rgb(51, 34, 34);
  position: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  font-size: 1.5rem;
}

nav a:hover {
  background-color: rgba(128, 128, 128, 0.164);
}

/* <!-- header section antonio --> end */

/* <!-- Fredda section1 start  --> */

/* <!-- Fredda section1 end  --> */

/* <!-- Duwayne  section 2--> start */
.section2 {
  text-align: center;
  background-color: #252529;
  color: white;
  font-size: 2rem;
}

.section2 h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.para1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.btn-primary {
  background-color: #b90415;
  padding: 20px 20px;
  margin-top: 50px 100px;
  font-size: 1.5rem;
}

.wrapper_head {
  font-size: 4rem;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.para2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: medium;
}

.btn-1 {
  padding: 1rem 1rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
}

/* <!-- Duwayne  section 2--> end */

/* <!-- Ruksar section 3--> start */
.section-3 {
  background-color: #f4f4f4;
}

.section-3 h3 {
  text-align: center;
  font-size: 3.1rem;
  margin: 2.1rem;
  font-weight: bold;
  color: #333;
}

.about {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
  line-height: 1.6;
}

button {
  background-color: #143f85;
  padding: 1rem;
  color: white;
  text-decoration: none;
  margin: auto;
  display: block;
}

.img {
  margin-top: 2.1rem;
}

/* <!-- Ruksar section 3-->  ednd */

/* <!-- Tania section 4 start --> */
.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

div {
  display: block;
}

.section4 {
  background: #f4f4f4;
  color: #333;
}

.section-4 {
  color: #f4f4f4;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px;
}

p {
  font-family: "PT Sans", sans-serif;
  display: block;
  padding: 30px;
}

.info {
  font-size: 1.5rem;
}

.btn-secondary {
  background: #103063;
  margin-bottom: 20px;
}

.btn {
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

img {
  margin-bottom: 20px;
}

#entertainent {
  background-image: url(./img/section-bg.jpg);
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* <!-- Tania section 4 end --> */

/* dev card section */
.card-section {
  margin: 20px 0;
}

.card {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.card-text h2 {
  font-size: 3rem;
}

.card p {
  font-size: 1.8rem;
}

.card hr {
  max-width: 90%;
  margin: 0 auto;
}

figure > img {
  width: 100%;
  object-fit: contain;
}

/* dev card section end */

/* <!-- ismaeel start--> */

.footer {
  background-color: #333;
  color: white;
  padding: 16px;
}

.footer-flex {
  display: flex;
  gap: 16px;
}
