* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* <!-- header section antonio --> start */

/* <!-- header section antonio --> end */

/* <!-- Fredda section1 start  --> */

/* <!-- Fredda section1 end  --> */

/* <!-- Duwayne  section 2--> start */

/* <!-- Duwayne  section 2--> end */

/* <!-- Ruksar section 3--> start */

/* <!-- Ruksar section 3-->  ednd */

/* <!-- Tania section 4 start --> */
.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

div {
  display: block;
}

.section4 {
  background: #f4f4f4;
  color: #333;
}

.section-4 {
  color: #f4f4f4;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px;
}

p {
  font-family: "PT Sans", sans-serif;
  display: block;
  padding: 30px;
}

.info {
  font-size: 1.5rem;
}

.btn-secondary {
  background: #103063;
  margin-bottom: 20px;
}

.btn {
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  margin-bottom: 20px;
}

#entertainent {
  background-image: url(./img/section-bg.jpg);
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* <!-- Tania section 4 end --> */

/* <!-- ismaeel start--> */
